@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>DevPoint Labs</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to DevPoint Labs</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus feugiat lorem, non aliquet nisi congue sit amet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam eu enim vulputate, rhoncus quam in, eleifend neque. Maecenas commodo est vitae nisl tincidunt sagittis. Quisque scelerisque, eros ut consectetur malesuada, sem dui sodales sem, id pellentesque erat metus eget lacus. Maecenas eleifend lectus sed libero sagittis, non interdum mauris pharetra. Aenean aliquam viverra ipsum, quis scelerisque massa interdum in. Aenean ac blandit nisl. Morbi vestibulum tellus eu nulla tempus, vitae suscipit ligula imperdiet. Aliquam sed elit eros. In iaculis eleifend urna at bibendum. Maecenas aliquet euismod velit et efficitur.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Code With Us</h2>
        <p>Duis id dapibus orci, consectetur blandit lacus. Pellentesque ut convallis risus, ultrices sollicitudin orci. Curabitur imperdiet finibus urna a tristique.</p>
        <p><a class="btn btn-default" href="http://www.devpointlabs.com">See for yourself &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Do it yourself!</h2>
        <p>For the record, this is me going through a .NET MVC tutorial. Check it out.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">Here's the source code &raquo;</a></p>
    </div>
</div>